/* 640px */
/* 641px and 1007px */
/* 1008px */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #2F2F2F;
    --secondary: #00C896;
    --text: #f1f1f1;
}

body {
    background-color: #f1f1f1;
}

/* navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px 70px;
    transition: 0.5s;
    background: var(--primary);
}

#navbar h1 a,
#navbar li a {
    color: var(--text);
}

#navbar ul li a {
    border-radius: 5px;
    padding: 8px 20px;
    transition: 0.2s ease-in;
}

#navbar li a:hover {
    color: var(--text);
    background: var(--secondary);
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    padding: 0 10px;
    font-size: 18px;
    font-weight: 600;
}

#navbar #hamburger {
    display: none;
}

@media screen and (max-width: 1007px) {
    #links {
        display: none;
    }

    #navbar #hamburger {
        display: block;
        cursor: pointer;
    }
    
    #navbar #hamburger .line {
        width: 30px;
        height: 5px;
        margin: 3px 0;
        border-radius: 3px;
        background-color: var(--text);
    }
    
    #navbar #links.active {
        display: block;
        position: absolute;
        height: 450px;
        width: 100vw;
        top: 80px;
        left: 0;
        right: 0;
        background-color: inherit;
    }

    #navbar #links.active ul {
        display: block;
        text-align: center;
        width: fit-content;
        margin: 80px auto 0 auto;
    }

    #navbar #links.active ul li {
        margin: 50px 0;
    }
}

/* footer */
footer {
    /* position: absolute;
    bottom: 0; */
    /* width: 100%; */
    padding: 50px 0;
    color: var(--text);
    background-color: var(--primary);
}

footer p {
    font-weight: 300;
    text-align: center;
}

/* homepage */
#main {
    display: grid;
    height: calc(100vh - 80px);
    grid-template-columns: 60% 40%;
}

/* table */
table {
    width: 90%;
    margin: 80px auto 0 auto;
    padding: 16px 0;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);
}

th {
    font-size: 18px;
}

th, td {
    padding: 16px 20px;
}

.todo {
    width: 70%;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions span {
    font-size: 28px;
}

/* form */
form h1 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 90%;
    margin: 80px auto 0 auto;
    padding: 30px 24px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);
}

form label {
    font-size: 18px;
    font-weight: 600;
}

form input {
    display: block;
    width: 90%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}

form button {
    margin: 10px 0;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: var(--text);
    background-color: var(--secondary);
    cursor: pointer;
}